
.user-card-panel {
	--status-idle: #0f1e4b;
	--status-playing: #2e576b;
	--status-spectating: #3d2e6b;
	--status-multiplayer: #bea51e;
	--status-modding: #2e6b33;
	--status-editing: #92383b;

	--background-color: var(--background-override, var(--status-color));

	position: absolute;
	display: flex;
	flex-direction: column;

	top: 0;
	left: 0;
	min-width: 25rem;
	width: 100%;

	border-radius: 0.75rem;
	overflow: hidden;

	font-family: "Torus Pro", "Comfortaa";
	line-height: 0.8;
	color: white;

	opacity: 0;
	transition:
		background-color 0.4s ease,
		opacity 0.4s cubic-bezier(0.22, 1, 0.36, 1);

	--level-tier-iron: #bab3ab, #bab3ab;
    --level-tier-bronze: #b88f7a, #855c47;
    --level-tier-silver: #e0e0eb, #a3a3c2;
    --level-tier-gold: #f0e4a8, #e0c952;
    --level-tier-platinum: #a8f0ef, #52e0df;
    --level-tier-rhodium: #d9f8d3, #a0cf96;
    --level-tier-radiant: #97dcff, #ed82ff;
    --level-tier-lustrous: #ffe600, #ed82ff;

	> .overlay {
		position: absolute;
		display: none;
		place-items: center;

		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		z-index: 10;
		background-color: rgba(0, 0, 0, 0.6);

		transition: opacity 0.6s ease;

		> .spinner {
			position: relative;
			display: inline-block;

			width: 1rem;
			height: 1rem;
			--width: 0.2rem;
			--color: rgb(220, 220, 220);
			--duration: 0.75s;

			transform: scale(0.7);
			transition: transform 0.6s ease;

			&::before {
				content: "";
				position: absolute;
				display: block;

				width: 100%;
				height: 100%;

				border-width: var(--width);
				border-style: solid;
				border-radius: 50%;
				border-color: var(--color);
				border-right-color: transparent;
				box-sizing: border-box;

				animation: simple-rotate var(--duration) linear 0s infinite;
			}
		}

		&.visible {
			display: grid;
		}

		&.show {
			opacity: 1;

			> .spinner {
				transform: scale(1);
			}
		}
	}

	> .card {
		position: relative;
		display: flex;
		flex-direction: row;

		width: 100%;
		height: 4.25rem;
		border-radius: 0.75rem;
		background-color: var(--background-color);
		overflow: hidden;
		z-index: 1;

		box-shadow: 0px 0.125rem 0.25rem 0px #00000040;

		transform-origin: top center;
		transform: translateY(-0.75rem) scaleY(0.9);
		transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);

		> .background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		> .background-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background-color: rgba(0, 0, 0, 0.5);
		}

		> .color-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 10rem;
			height: 100%;

			background: linear-gradient(to right, var(--profile-color, transparent), transparent);
		}

		> .info {
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-grow: 1;
			gap: 0.5rem;

			margin: 0.25rem;
			z-index: 1;

			> .avatar {
				width: 3.75rem;
				height: 3.75rem;
				border-radius: 0.5rem;
				object-fit: cover;
			}

			> .meta {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				gap: 0.5rem;

				> .username {
					font-size: 1rem;
					font-weight: 600;
					transform: translateX(-0.0625rem);

					text-shadow: 0.0625rem 0px 0.125rem rgba(0, 0, 0, .5);
				}

				> .user-title {
					font-size: 0.75rem;
					font-weight: 600;
					transform: translateX(-0.0625rem);

					text-shadow: 0.0625rem 0px 0.125rem rgba(0, 0, 0, .5);
				}

				> .badges {
					display: flex;
					flex-direction: row;
					gap: 0.25rem;

					height: 1rem;

					> .separator {
						margin: auto 0;
						width: 0.125rem;
						height: 0.25rem;
						border-radius: 1rem;

						background-color: black;
					}

					> * {
						flex-grow: 0;
						flex-shrink: 0;
					}

					> .flag {
						--height: 1rem;
						--width-height-ratio: 1.38889;

						position: relative;
						display: block;

						filter: saturate(1.1);
						width: calc(var(--height) * var(--width-height-ratio));
						height: var(--height);

						background-position: 50%;
						background-repeat: no-repeat;
						background-size: cover;
						border-radius: 0.25rem;
					}

					> .team {
						display: inline-block;
						height: 1rem;
						width: 2rem;

						background-color: #333;
						background-position: 50%;
						background-repeat: no-repeat;
						background-size: contain;
						border-radius: 0.25rem;
					}

					> .groups {
						display: flex;
						flex-direction: row;
						gap: 0.25rem;

						> .group-badge {
							display: flex;
							flex-direction: row;
							gap: 0.25rem;

							padding: 0 0.5rem;
							background-color: rgba(23, 28, 26, 0.75);
							border-radius: 2rem;

							> .identifier {
								padding: 0.25rem 0;

								font-size: 0.75rem;
								font-weight: 700;
								color: var(--group-color, white);
							}

							> .playmodes {
								display: flex;
								flex-direction: row;
								gap: 0.125rem;

								margin: auto 0;

								> .mode-icon {
									width: 0.75rem;
									height: 0.75rem;
								}
							}
						}
					}

					> .supporter {
						display: flex;
						align-items: center;
						justify-content: center;

						width: 2.5rem;
						background-color: #EB549C;
						border-radius: 2rem;
	
						> .icon {
							height: 0.6rem;
							width: auto;
						}
					}
				}
			}

			> .level {
				display: grid;
				place-items: center;

				width: 3.125rem;
				height: 3.125rem;

				background: url("./icons/level-border.svg");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}

	> .details {
		position: relative;
		display: flex;
		flex-grow: 1;
		gap: 0.5rem;

		margin-top: -1rem;
		padding: 1.5rem 0.25rem 0.5rem 0.25rem;
		background-color: var(--background-color);
		border-bottom-left-radius: 0.75rem;
		border-bottom-right-radius: 0.75rem;

		transform-origin: top center;
		transform: translateY(-1.5rem) scaleY(0.8);
		transition:
			transform 0.4s cubic-bezier(0.22, 1, 0.36, 1),
			background-color 0.4s ease;

		> .ruleset {
			display: inline-block;
			width: 3.75rem;

			> .icon {
				display: block;
				width: 1.5rem;
				height: 1.5rem;
				margin: 0 auto;

				object-fit: contain;
			}
		}

		> .info {
			display: flex;
			flex-grow: 1;
			gap: 0.5rem;
			align-items: center;

			> .status {
				position: absolute;
				display: flex;
				align-items: center;

				top: 1rem;
				left: 4.5rem;
				bottom: 0;
				right: 0;

				box-sizing: border-box;
				padding-right: 0.25rem;

				opacity: 0;
				transition: opacity 0.6s ease;

				> .inner {
					font-size: 0.75rem;
					font-weight: 600;
					line-height: 1.2;
					color: color-mix(in srgb, var(--background-color), white 50%);

					hl {
						color: color-mix(in srgb, var(--background-color), white 80%);
					}
				}
			}

			> .item {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				flex-basis: 0;

				gap: 0.25rem;

				opacity: 0;
				transition: opacity 0.6s ease;

				> .label {
					font-size: 0.625rem;
					font-weight: 400;
					color: color-mix(in srgb, var(--background-color), white 70%);
				}

				> .value {
					font-size: 0.75rem;
					font-weight: 600;
				}
			}

			> .rank {
				flex-grow: 2;

				> .value {
					font-size: 1.25rem;
					font-weight: 600;

					transform: translate(-0.0625rem, 0.0625rem);

					-webkit-background-clip: text;
					background-clip: text;
					background-image: linear-gradient(var(--rank-color, white));
					color: transparent;
				}
			}

			&.show-status > .status {
				opacity: 1;
			}

			&.show-items > .item {
				opacity: 1;
			}
		}
	}

	&.show {
		opacity: 1;

		> .card {
			transform: unset;
		}

		> .details {
			transform: unset;
		}
	}
}

@keyframes simple-rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
