
@font-face {
    font-family: "Torus Pro";
    src: local("Torus Pro Bold"), local("TorusPro-Bold"),
        url("TorusPro-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Torus Pro";
    src: local("Torus Pro Heavy"), local("TorusPro-Heavy"),
        url("TorusPro-Heavy.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Torus Pro";
    src: local("Torus Pro Regular"), local("TorusPro-Regular"),
        url("TorusPro-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Torus Pro";
    src: local("Torus Pro SemiBold"), local("TorusPro-SemiBold"),
        url("TorusPro-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
